/** ~~~~~~~~~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~~~~~~~~~ **/
footer {
    height: 10rem;
}

.footer_text{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.footer_title{
    font-weight: bold;
    text-transform: uppercase;
}

footer a{
    font-weight: bold;
    color: black;
    margin-bottom:0.5rem;
}

.links{
    margin-left:5rem;
}

.column_links{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:10rem;
}

footer .links tr{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer_margin{
    box-sizing: border-box;
    padding: 0 14%
}

.footer_white {
    width: 100%;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top:10rem;
    padding-bottom: 5rem;
    display:flex;
    justify-content: space-between;
}

.social_media{
    width:13.5rem;
}

.media_logos{
    width:10rem;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .contacts img{
    width:1rem;
    height:1rem;
    vertical-align: inherit;
    margin-right:0.5rem;
}

footer .contacts table p{
    margin: 0.15rem;
}

footer .media_logos img{
    width: 1.5rem;
    height: 1.5rem;
}

.contacts{
    width:13rem;
}

.footer_purple {
    width: 100%;
    background-color: #5D62B5;
    font-size: 12px;
    line-height: 18px;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~@MEDIA~~~~~~~~~~~~~~~~~~~~~~~ **/
@media screen and (max-width: 800px) {

    /** ~~~~~~~~~~~white footer~~~~~~~~~~~ **/
    .links{
      margin: 2rem 0;
    }

  }