/** ~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~~~ **/
header {
  height: 10rem;
}

header p {
  margin-top: 0;
}

.header {
  position: absolute;
  width: 76%;
  height: 8rem;
  top: 1.5rem;
}

.header_style {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 30%;
}

.header_logo {
  position: absolute;
}

.utility {
  position: absolute;
  left: 40%;
  right: 0%;
  top: 0%;
  bottom: 68.75%;
  display: flex;
  justify-content: space-between;
}

.red_button {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  align-content: center;
  background-color: #f2726f;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  width: 13rem;
  height: 3rem;
}

/** ~~~~~~~~~~~~IMAGE~~~~~~~~~~~~ **/
.blue_header_picture {
  position: absolute;
  top: 0;
  z-index: -2;
  background-image: url("./Images/headerback.png");
  background-position-x: center;
  background-size: cover;
  height: 50rem;
  width: 100%;
}

/** ~~~~~~~~~~~~NAVBAR~~~~~~~~~~~~ **/
.navbar {
  position: absolute;
  display: flex;
  left: 0%;
  right: 0%;
  top: 53%;
  bottom: 0%;
  background: #ffffff;
  border-radius: 1.5rem;
  justify-content: space-between;
}

.red-navbar {
  background-color: red;
}

.navbar_sections {
  text-align-last: justify;
  width: 50%;
  margin: auto 0;
}

.navbar_ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.vertical_align {
  vertical-align: middle;
}

.navbar_right_icons {
  width: 10%;
  display: flex;
  justify-content: space-around;
  margin: auto 1% auto 0;
}

.navbar_title {
  font-size: 14px;
  line-height: 1.5rem;
  color: black;
}

nav button {
  text-transform: none;
}

/** ~~~~~~DROPDOWN~~~~~~ **/
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 1rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 10rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~@MEDIA~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~800px~~~~~~~~~~~ **/
@media screen and (max-width: 800px) {
  /** ~~~~~~~~~~~Header~~~~~~~~~~~ **/
  .header {
    width: 100%;
  }

  .utility img {
    display: none;
  }

  .header_style {
    width: auto;
  }

  .utility .red_button {
    display: none;
  }

  /** ~~~~~~~~~~~Navbar~~~~~~~~~~~ **/
  .navbar_sections {
    width: 80%;
  }
}

/** ~~~~~~~~~~~300px~~~~~~~~~~~ **/
@media screen and (max-width: 300px) {
  /** ~~~~~~~~~~~Navbar~~~~~~~~~~~ **/
  .navbar_right_icons {
    width: auto;
  }

  .header_logo {
    display: none;
  }

  .utility {
    position: initial;
  }
}
